label {
    display: block;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 700;
}

input[type=text], select, textarea{
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 10px 0;
    margin-top: 1px\9;
    line-height: normal;
}

button {
  border: 1px solid #9a9a9a;
  background-color: #cecece;
  font-size: 1.5em;
  margin: 20px auto;
}
