// titulos
$body-size:16px;
$font-size-h1-section:40pt; //secciones Ej. Informacion, directorios, etc...
$font-size-h1-list: 11pt; //listados
$font-size-h1-content: 11pt; //internas
$font-size-h1-ads: 35px; //publicidad Ej. Banner VIP

// titulos h2
$font-size-h2-section: 30px; //secciones Ej. Informacion, directorios, etc...
$font-size-h2-list: 14pt; //listados
$font-size-h2-content: 30px; //internas
$font-size-h2-ads:14pt; //publicidad Ej. Banner VIP

// titulos h2
$font-size-h3-all: 18px; //secciones Ej. Informacion, directorios, etc...
// parrafos
$parrafos:11pt;
$small:10pt;
// font
$fonts-1: 'Poppins', sans-serif;

//fondos de sitio
$fondo-color-1: #eaeded;//fondo gris
$fondo-color-2: #fff;//fondo blanco
$fondo-color-3: #173a7a; //fondo azul marino
$fondo-color-4: #2f74f3; //fondo azul claro
$fondo-color-5: #d7d7d7; //fondo gris-meu
$fondo-color-6: #3e3e3e; //fondo cafe-footer


// colores
$color-1:#2E74F3;//azul-claro
$color-2:#0B347D;//azul-marino
$color-3:#3E3E3E;//cafe
$color-4:#00C7EE;//color azul-agua
$color-5:#fff;//color blanco
$color-6:#686663;//color gris
$color-7:#f79518;//amarillo
$color-8:#000;//negro

//colores de iconos rojo,amarillo,azul

$rojo:#F00;
$amarillo:#f3942e;
$azul:$color-1;
//font-weight: 

$font-weight-ligth:300;
$font-weight-Medium:500;
$font-weight-SemiBold:600;
$font-weight-bold:700;


// links
$color-link:#000;

// $color-link:#fff;

$color-light: -1.5;
$color-shade: 5.5;

// border:
$border-redes:red;
$border-radius:50%;

// imagenes
$border-circulo:15px;

//paddin
$padding0:0px;
$padding10: 10px;
$padding20: 20px;
$padding30: 30px; 
$padding50: 50px;
$padding0-botom20-0:20px 0px;

//margin
$margin0: 0px;
$margin10: 10px;
$margin10-0: 10px 0;
$margin20: 20px;
$margin30: 30px;


body{

	font-size:$body-size;
	font-family: 'Poppins'!important; 
}
.row {
	padding: $padding10; 
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
{
	margin: $margin10-0;
}

.no-link{
pointer-events: none;
cursor: default;
}

//fondos del sitio

 .fondo-color-especial{
  background: $fondo-color-3;//color azul marino

 }
 .fondo-color-especial-2{

    background: $color-5;
 }

.fondo-color-especial-3{
    background: $fondo-color-3;//color azul marino
 }
 .fondo-color-especial-4{
    background: $fondo-color-4;//fondo azul claro
 }
.fondo-color-especial-5{
    background: $fondo-color-5;//fondo color gris
 }
.fondo-color-especial-6{
    background: $fondo-color-6;//fondo color cafe
}
.fondo-color-especial-7{
    background: $fondo-color-2;//fondo color blanco
}


//border para el sitio 
.border-width-top{border-top: 1px solid $color-5;}
.border-width-left{border-left: 1px solid $color-5;}
.border-width-right{border-right: 1px solid $color-5;}
.border-width-bottom{border-bottom: 1px solid $color-5;}
.border-width-all{border: 1px solid $color-5;}


// .row [class^=col] h1:first-child{ //REVISAR

// .container h1:first-child{ //REVISAR
// 	font-size:$font-size-h1-section;
// 	color:$color-1;
// 	font-family: $fonts-1;
// 	font-weight: bold;
// 	padding: $padding0-botom20-0;
	 
// }
// before
$colorbefore:#bae860;
h3{
	font-size:$font-size-h3-all; 
	color:$color-8;
	font-weight:$font-weight-bold;
	padding:$padding10;
	text-align: center;
}

// .container h1:first-child{
// 	color:$color-1;
// 	font-size:$font-size-h1-section;
// 	font-weight:$font-weight-bold;
// }

.container h1[name="titulo"]{
	color:$color-1;
	font-size:$font-size-h1-section;
	font-weight:$font-weight-bold;
	border-bottom: 2px solid $color-1;
}
.texto-color-azul{
	color:$color-1;
	font-weight:$font-weight-bold; 
	border-bottom: 2px solid $color-1;
	padding-top: 20px;
}


.titulo-linea h3{
	text-align: center;
	width: 100%;
}
.titulo-linea h3.linea {
  position: relative;
  z-index: 1;
}
.titulo-linea h3.linea:before {
  border-top: 2px solid #eaeded;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.titulo-linea h3.linea span {

  background: #fff;
  padding: 0 15px;
  font-weight: normal !important;
}

.form-filtro{
	border: 1px solid gainsboro;
	padding: 0 10px;
	background: #eaeded;
	margin-bottom: 25px;
}
.form-filtro select{
	border: 0px;
	background: none;
	width: 100% !important;
}
.form-filtro button{
	margin-top: 10px;
	float: right;
}

// .titulo-linea h3{
// 	text-align: center;
// }
// .titulo-linea h3:after {
//     content: "";
// display: block;
// border-bottom: 1px solid blue;
// position: relative;
// top: -10px;
// }



// .container .row[name="titulo"]{
// 	border-bottom: 5px solid green;
// }

// .container > h1:before {
// 	position: relative;
// 	content: '';
// 	width: 78%;
// 	border-bottom: solid 2px $color-1;
// 	-webkit-transition: left 250ms ease-in-out, right 250ms ease-in-out;
// 	-o-transition: left 250ms ease-in-out, right 250ms ease-in-out;
// 	transition: left 250ms ease-in-out, right 250ms ease-in-out;
// 	bottom: 60px;
	
// }


img{
	width: 100%;
	border-radius:$border-circulo; 

}
.row > a > img{
	border-radius:$border-circulo;
	color:$color-3;
	width: 100%;
}
article > h1 > a{
	font-size: $font-size-h1-section;
	color:$color-2;
	font-family: $fonts-1;
}
// parrafos
p{
	font-size:$parrafos;
	text-align: justify;
	font-weight:$font-weight-ligth;
}

// estados de link normal,hover y avtivo
 a {
	// color:$color-link;
	// font-size: $font-size-h1-content;
	// text-decoration: underline;
	// font-weight:$font-weight-bold;


	&:hover{
		color:$color-link * $color-light;
		// text-decoration:overline;
	}
	&:active{
		color:$color-link * $color-shade;
	}

}

// iconos de redes sociales
//.row ul li
 // .row ul li{
 // 	display: inline;
	// width: 15px;
	// height: 8px;
 // }

  // iconos fas
.nounderline{
	text-decoration: none!important;
}
.list-inline-item > a > i{
	color:$color-8;
	background-color:$color-5; 
	display: inline;
	// border-radius:$border-radius;
	padding:5px !important;
	border:1px solid $color-8;
	font-size:$parrafos;
	&:hover{
		background:$color-5;
		color:$color-1;
		// border-radius:$border-radius;
		// border:none;
	}
	&:active{
		background-color:$color-1 * 5;
		color:$color-4 * -1.5;
		// border-radius:$border-radius;
	}

}

//section
.padding20 {
  padding: 20px !important; }

.padding30 {
  padding: 30px !important; }

.padding-top20 {
  padding-top: 20px !important; }

.padding0 { padding: $padding0!important; }
.margin0{margin:$margin0!important; }

section{
	padding: $padding50; 
}
 	section:nth-child(2n){
	background:$fondo-color-1; 
	padding: $padding50;
 }

// -------------------Link-menu-----------------------//

.link-menu{
	color:white;
	&.list-inline-item{
		font-weight:$font-weight-ligth;
		color:$color-5;
		font-size:$font-size-h1-content; 
	}
	&.list-inline-item a{
		color:green;
	}
}

.list-inline{
	margin-bottom: 0px !important;
}
.list-inline li{
	display: inline-block;
}
.row article p span img{
	// border:5px solid red; 
}
.info-img p span img{
	width: 100%!important;
	height: 100%!important;
}
.info-img p img{
	width: 100%!important;
	height: 100%!important;
}
.info-img p{
	// color: red!important;
}
.form-control{
	padding: 2px!important;
	width: 200px!important;
	height: 30px!important;
}
.der {
	
		margin-top: -70px;
		z-index: 111;
}

$color-btn-solido: #173a7a;
$border-btn-solido: #173a7a * .5;
$btnHover:#82acf8;
$btnvisited:#112c5c;
// $color-btn-solido * 1.5;
.con-fondo{
	// background-color:$color-btn-solido;
	background-color:$btnHover !important;
	border:1px solid $btnHover;
	// border:1px solid $border-btn-solido;
	color:$color-5!important;
	text-transform:uppercase;
	// padding: 10px 50px;
	padding: 5px 10px;
	&:hover{
		// background-color:$btnHover;
		background-color:$color-btn-solido!important; 
		// $color-btn-solido * -.5;
		color:$color-5;
		// border:1px solid $btnHover;
	};
	&:visited {
		background-color:$btnvisited;
		color:$color-5;
	};

}
.con-fondo1{
	// background-color:$color-btn-solido;
	background-color:$color-1!important;
	border:1px solid $btnHover;
	// border:1px solid $border-btn-solido;
	color:$color-5!important;
	text-transform:uppercase;
	padding: 10px 50px;

	&:hover{
		// background-color:$btnHover;
		background-color:$btnHover; 
		// $color-btn-solido * -.5;
		color:$color-5;
		// border:1px solid $btnHover;
	};
	&:visited {
		background-color:$btnvisited;
		color:$color-5;
	};

}
$btn-amarillo:#F3942E;
.con-fondo-amarillo{
	// background-color:$color-btn-solido;
	background-color:$btn-amarillo!important;
	border:1px solid $btn-amarillo;
	// border:1px solid $border-btn-solido;
	color:$color-5!important;
	text-transform:uppercase;
	padding: 10px 50px;

	&:hover{
		// background-color:$btnHover;
		background-color:$btnHover; 
		// $color-btn-solido * -.5;
		color:$color-5;
		// border:1px solid $btnHover;
	};
	&:visited {
		background-color:$btnvisited;
		color:$color-5;
	};

}
// boton sin fondo
$color-btn-sinfondo:orange;
$border-btn-sinfondo: $color-btn-sinfondo;


.sin_fondo{
	//background-color:$color-btn-sinfondo;
	border:1px solid $border-btn-sinfondo;
	color:$color-4;
	text-transform:uppercase;
	margin:0 2px;
	&:hover{
		background-color:$color-btn-sinfondo;
		color:$color-5;
	};
	&:visited {
		background-color:$color-btn-sinfondo;
		color:$color-5;
	};

}

.tam-completo{
	width: 100%;
	background: green!important;
	color: white;
	margin: 15px 0;
}
// -------------------sesiones menu-----------------------// 
.navbar{
	padding: 0.1rem 1rem;
}
// .menu-top .row,.col,ul{
// 	padding: 0px;
// 	margin-bottom: 0px;
// }
.menu-top ul li{
	// font-weight:$font-weight-ligth;
	// font-size:$body-size;
	// color:$color-5; 
}
.menu-top ul li a{
	font-weight:$font-weight-ligth;
	font-size:$body-size;
	color:$color-5;
	text-decoration: none; 
}
.texto-small li a{
	font-size: small !important;
}
// a:visited{
// 	color: red!important;
// };

// menu
.float-derecha{
	position: absolute;
	right: 0;
}
// listas
ul {
	list-style: none;
}

// -------------------sesiones slider-----------------------// 
.container-slider {		 
	position: relative;
}
.texto-slider
	{
		position: absolute;
		bottom: -5%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color:$color-5;
		font-size: 10px;
		width: 90%;
	}
.texto-slider a {
	color:$color-5; 
}
.container-slider > h1{
	color:$color-5; 
}


// -------------------noticias-----------------------//
//secion informacion (noticias)
.row article{
	// background: yellow;
} 

.row article img{width: 100%;}
.container-informacion h1{ font-size: $font-size-h1-list!important; color: $color-4!important;font-weight:$font-weight-bold; text-transform: uppercase; }
.container-informacion h2{ font-size: $font-size-h2-ads!important; color: $color-5!important; font-weight:$font-weight-bold;}
.row article p{ text-align: left; font-weight:$font-weight-ligth; }
.row article small{	font-size: $small; color:$color-6; margin:0 5px;}

.row .container-informacion {		 
	position: relative;
}
.row .texto-informacion	{position: absolute;left: 4px;bottom: -15px;	padding: 10px;	line-height: 12px;}
.row .texto-informacion a{}
.container-informacion img{
	border-radius:$border-circulo;
	height: 220px;
}
/*inicio*/


img[title="primera"] {
  border-radius: 15px 15px 0 0; }

.img-cuadradas img {
  border-radius: 0px; }

.test img {
  width: 50%;
  display: inline;
  border: 1px solid red; }

// .Cuerpo > img {
//   width: 50%;
//   display: inline;
//   // border: 1px solid blue; 
// }

.informacion-all h1 {
  font-size: 11pt;
  color: #00C3EA;
  font-weight: 600;
  text-transform: uppercase; }

.informacion-all h2 {
  font-size: 14pt;
  font-weight: 600;
  color: #3e3e3e; }

.informacion-all > hr {
  // border: 2px solid $color-1;
  margin: 0 0 15px 0; }

.informacion-all h2[title="titulo-subseccion"] {
  color: $color-1;
  font-size: $font-size-h2-section;
  border-bottom: 2px solid $color-1;
}
.informacion-all li{
	color: $color-6;
	font-size: small;
}
.informacion-all i{
	margin-right: 8px;
}
.rojo{
	color:$rojo; 
}
.amarillo{
	color:$amarillo; 
}
.azul{
	color:$azul; 
}

.img-seccion-interna {
  background-image: url("../../img/contents/informacion/noticias/noticias/header.jpg");
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover; }

.img-seccion-interna h1 {
  color: #fff;
  font-weight: 700;
  padding-top: 10px; }

.img-seccion-interna .container {
  height: 80px; }

.shadow {
  -webkit-box-shadow: 0px -1px 8px 1px #6866638a !important;
  box-shadow: 0px -1px 8px 1px #6866638a !important;
  margin-bottom: 15px; }

.breadcrumb {
  background: none !important;
  margin: 0px !important;
  padding: 0px !important; }

.breadcrumb a {
  color: $color-6!important; }

.color-contrario > a > i {
  color: #3e3e3e !important;
  display: inline;
  border-radius: 50%;
  padding: 5px !important;
  border: 1px solid $color-3!important;
  font-size: 11pt;
  background: $color-5!important;}

/* fin*/

.pad-left{
	padding: 0px 15px 0 0 !important;
}
.breadcrumb {
    background: none !important;
    margin: 0px !important;
    // padding: 0px 0 0 15px !important;
}


// -------------------sesiones online-----------------------// 

.sesiones_on-line .img-tamaño img{
	width: auto !important;
}
.sesiones_on-line article >img{
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 20%;
}
.sesiones_on-line article h2:first-child{
	font-size:$font-size-h2-section;
	color:$color-7; 
	font-weight:$font-weight-bold; 
}

.sesiones_on-line article h2 a h2{
	color:$color-8; 
}
.sesiones_on-line small{
	color:$color-5!important; 
}

// -------------------coberturas-----------------------// 

// -------------------Publicaciones -----------------------// 

.position-derecha{
	position: absolute;
	right: 10px;	
	top: 20px;
	text-align: right;
}
// -------------------Publicaciones -----------------------// 



// -------------------overlay imagen-----------------------// 
.container-informacion{
	position: relative;
  	width: 100%;
  	border-radius:$border-circulo;
}
/* [1] The container */
.img-hover-zoom {
  height: 200px; 
  overflow: hidden; 
}
.img-hover-zoom img {
  transition: transform .5s ease;
// prueba de mascara
    width: 130% !important;
	height: auto;
	margin: 0px -15%;
}
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.overlay 
	  	{
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 100%;
		  width: 100%;
		  opacity: 0;
		  transition: .5s ease;
		  background: rgba(21, 21, 21, 0.62);
          background: -webkit-linear-gradient(bottom, rgb(16, 16, 16) 10%, rgba(255,255,255,0) 100%);
          background: -o-linear-gradient(bottom, rgb(16, 16, 16) 10%, rgba(255,255,255,0) 100%);
          background: linear-gradient(to top, rgb(16, 16, 16) 10%, rgba(255,255,255,0) 100%);
          opacity:1;
		  // background-color:#000;
		  // opacity: 0.7;	
		  border-radius:$border-circulo;

		  // height: 220px;
		  // overflow: hidden; 	

		}
.overlay:hover{
	// filter: brightness(100%);
	// transform: scale(.5);
	// 	// opacity:.5;

	};


// -------------------footer-----------------------// 
.footer ul{
	padding: 0px;
	margin: 0px;
}
.footer a, small, p{
	// color:$color-5;
	font-size: $small;
}
.bloque-a a {
	 display: block;
	 font-size:$small!important;

	}
.footer h4{
	color:$color-5;
}
label{
	margin-bottom: 0px!important;
}

// -------------------medias @queries-----------------------// 
@media (max-width: 768px) {
	.position-derecha{
			position: relative;
			text-align: left;
			top: 0px;
			right: 0px;
			z-index: 1;
		}
	.position-derecha button{
		width: 100%;
		margin:3px 0;
	}
}

@media (max-width: 600px) {
	section{
		padding: 10px!important;
	}
	
}

