@charset "UTF-8";
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

.row {
  padding: 10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  margin: 10px 0; }

.no-link {
  pointer-events: none;
  cursor: default; }

.fondo-color-especial {
  background: #173a7a; }

.fondo-color-especial-2 {
  background: #fff; }

.fondo-color-especial-3 {
  background: #173a7a; }

.fondo-color-especial-4 {
  background: #2f74f3; }

.fondo-color-especial-5 {
  background: #d7d7d7; }

.fondo-color-especial-6 {
  background: #3e3e3e; }

.fondo-color-especial-7 {
  background: #fff; }

.border-width-top {
  border-top: 1px solid #fff; }

.border-width-left {
  border-left: 1px solid #fff; }

.border-width-right {
  border-right: 1px solid #fff; }

.border-width-bottom {
  border-bottom: 1px solid #fff; }

.border-width-all {
  border: 1px solid #fff; }

h3 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  padding: 10px;
  text-align: center; }

.container h1[name="titulo"] {
  font-size: 45pt;
  font-weight: 700;
  border-bottom: 5px solid #f0bc56; }

.texto-color-azul {
  color: #f0bc56;
  font-weight: 700;
  border-bottom: 2px solid #f0bc56;
  padding-top: 20px; }

img {
  width: 100%;
  border-radius: 15px; }

.row > a > img {
  border-radius: 15px;
  color: #3E3E3E;
  width: 100%; }

article > h1 > a {
  font-size: 45pt;
  color: #0B347D;
  font-family: "Poppins", sans-serif; }

p {
  font-size: 11pt;
  text-align: justify;
  font-weight: 300; }

a:hover {
  color: black; }

a:active {
  color: black; }

.row ul li {
  display: inline;
  width: 15px;
  height: 8px; }

.nounderline {
  text-decoration: none !important; }

.list-inline-item > a > i {
  color: #000;
  background-color: #fff;
  display: inline;
  padding: 5px !important;
  border: 1px solid #000;
  font-size: 11pt; }
  .list-inline-item > a > i:hover {
    background: #fff;
    color: #f0bc56; }
  .list-inline-item > a > i:active {
    background-color: white;
    color: black; }

.padding0 {
  padding: 0px !important; }

.margin0 {
  margin: 0px !important; }

section {
  padding: 50px; }

section:nth-child(2n) {
  background: #eaeded;
  padding: 50px; }

.link-menu {
  color: white; }
  .link-menu.list-inline-item {
    font-weight: 300;
    color: #fff;
    font-size: 11pt; }
  .link-menu.list-inline-item a {
    color: green; }

.list-inline {
  margin-bottom: 0px !important; }

.form-control {
  padding: 2px !important;
  width: 200px !important;
  height: 30px !important; }

.der {
  margin-top: -54px;
  z-index: 111; }

.con-fondo {
  background-image: -webkit-linear-gradient(90deg, #f3a953 0%, #f38f53 100%);
  border: 1px solid #173a7a;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 50px; }
  .con-fondo:hover {
    background-color: #173a7a;
    color: #fff; }

.sin_fondo {
  border: 3px solid orange;
  color: #00C7EE;
  text-transform: uppercase; }
  .sin_fondo:hover {
    background-color: orange;
    color: #fff; }
  .sin_fondo:visited {
    background-color: orange;
    color: #fff; }

.navbar {
  padding: 0.1rem 1rem; }

.menu-top ul li a {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-decoration: none; }

.texto-small li a {
  font-size: small; }

.float-derecha {
  position: absolute;
  right: 0; }

ul {
  list-style: none; }

.container-slider {
  position: relative; }

.texto-slider {
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
  width: 90%; }

.container-slider > h1 {
  color: #fff; }

.row article img {
  width: 100%; }

.container-informacion h1 {
  font-size: 11pt !important;
  color: #00C7EE !important;
  font-weight: 700;
  text-transform: uppercase; }

.container-informacion h2 {
  font-size: 14pt !important;
  color: #fff !important;
  font-weight: 700;
  border-bottom: 2px solid #f0bc56; }

.row article p {
  text-align: left;
  font-weight: 300; }

.row article small {
  font-size: 10pt;
  color: #fff; }

.row .container-informacion {
  position: relative; }

.row .texto-informacion {
  position: absolute;
  left: 4px;
  bottom: -15px;
  padding: 10px;
  line-height: 12px; }

.container-informacion img {
  border-radius: 15px;
  height: 220px; }

.sesiones_on-line .img-tamaño img {
  width: auto !important; }

.sesiones_on-line article > img {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 20%; }

.sesiones_on-line article h2:first-child {
  font-size: 30px;
  color: #f79518;
  font-weight: 700; }

.sesiones_on-line article h2 a h2 {
  color: #000; }

.sesiones_on-line small {
  color: #fff !important; }

.container-informacion {
  position: relative;
  width: 100%;
  border-radius: 15px; }

/* [1] The container */
.img-hover-zoom {
  height: 200px;
  overflow: hidden; }

.img-hover-zoom img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  width: 130% !important;
  height: auto;
  margin: 0px -15%; }

.img-hover-zoom:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background: rgba(21, 21, 21, 0.62);
  background: -webkit-linear-gradient(bottom, #101010 10%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, #101010 10%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #101010), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #101010 10%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  border-radius: 15px; }

.footer ul {
  padding: 0px;
  margin: 0px; }

.footer a, small, p {
  font-size: 10pt; }

.bloque-a a {
  display: block;
  font-size: 10pt !important; }

.footer h4 {
  color: #fff; }

@media (max-width: 600px) {
  section {
    padding: 10px !important; } }
